@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

body {
  /* font: italic small-caps bold 16px/2 cursive; */
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  margin: 0 0 0 0;
}