.main {
    background-image: url('../../resources/Our-Coffee-img/Main_bg.png');
    background-size: cover;
    background-color: initial;
    .container-text {
      margin-left: 50px;
      margin-right: 50px;
      padding-bottom: 84px; /* add this line to create space */
    }
    .container_navigator {
      margin: 0;
    }
    .main-title {
      font-style: normal;
      font-size: 40px;
      line-height: 58px;
      color: #FFFFFF;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 0;
    }
  }
  
.about {
    padding: 70px 0;
    .line{
        width: 240px;
        height: 0px;

        border: 1px solid #000000;
        justify-content: center;
        margin-left: 220px;
        margin-right: 220px;
    }
    .container-content{
        margin-left: 392px;
        margin-right: 346px;

        .flex-about{
            display: flex;
            gap: 79px;
            .about_coffee{

                .title-about-coffee{
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 35px;

                    color: #000000;
                }
                .paragrapg-about{
                    max-width: 346px;
                    max-height: 232px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    margin-bottom: 10px;
                    color: #000000;
                }
            }
        }
    }
}

.filter__coffee{
    .cards-container{
        margin-right: 320px;
        margin-left: 320px;
            .container-interaction{
                display: flex;
                margin-right: 35px;
                margin-left: 35px;
                gap:83px;
                margin-bottom: 60px;
                .container-search{
                    display: flex;
                    gap:19px;
                    justify-content: center;
                    align-items:center;
                    .search-title{
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        text-align: center;
                        color: #000000;   
                    }
                    .input-search{
                        width: 180px;
                        height: 30px;
                        background: #FFFFFF;
                        border:none;
                        text-align: center;
                        &:focus{
                            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
                            border-radius: 4px;
                            outline: none;
                        }
                    }                       
                }
            }
            .container-btn-filter{
                display: flex;
                gap: 35px;
                justify-content: center;
                align-items:center; 
                .filter-title{
                    font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            text-align: center;
                            color: #000000;   
                }
                .btn-filter{
                    width: 75px;
                    height: 30px;
                    border:none;
                    cursor: pointer;
                    &:hover{
                        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
                        border-radius: 4px;
                    }
                }
            }
            .list-cards{
                flex-wrap: wrap;
                max-width: 811px;
                .card-list{
                    justify-content: normal;
                    gap: 60px;
                    .card-recomended{
                        width: 220px;
                    &:hover{
                        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
                        border-radius: 4px;
                    }
                    .img-card-recomended{
                        height: 115px;
                    }
                    }

                }
            }
          }
        }