.about{
    padding: 30px 0;
    .container-content{
        .flex-about{
            gap: 0px;
            .image_coffe img{
                width: 392px;
                height: 355px;
            }
            .about_coffee{
                .price{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    margin-bottom: 10px;
                    color: #000000;
                }
                .paragrapg-about{
                    text-align: left;
                    .country_coffee,
                    .description_coffee,
                    .price_coffee{
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 20px;

                        color: #000000;
                    }
                }
                .price{
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 35px;
                    color: #000000;
                }
                .description{
                    margin-left: 5px;
                }
            }
        }
    }
}

