    .container-search{
        display: flex;
        gap:19px;
        justify-content: center;
        align-items:center;
        .search-title{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #000000;   
        }
        .input-search{
            width: 180px;
            height: 30px;
            background: #FFFFFF;
            border:none;
            text-align: center;
            &:focus{
                box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
                border-radius: 4px;
                outline: none;
            }
        }                       
    }
    .container-btn-filter{
        display: flex;
        gap: 35px;
        justify-content: center;
        align-items:center; 
        .filter-label{
            font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    color: #000000;   
        }
        .btn-filter{
            width: 75px;
            height: 30px;
            border:none;
            cursor: pointer;
            &.active{
                box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
                border-radius: 4px;
            }
        }
    }
