.nav-links{
    width: 355px;
    display: flex;
    justify-content: space-around;
    align-items:center;
   list-style: none;
  }
  .container_navigator{
    display: flex;
    color: white;
    text-decoration: none;
    margin-left: 149px;
    margin-right: 936px;
  }
.item{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    color: white;
}