.nav-links{
    display: flex;
    justify-content: space-around;
    align-items:center;
   list-style: none;
   gap: 30px;
  }
  .container_navigator{
    display: flex;
    color: white;
    text-decoration: none;
    margin-left: 149px;
    margin-bottom: 111px;
  }
.item{
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #FFFFFF;  
}
.item:hover{
  text-decoration: underline 2px solid;
}
.main-house{
  display: flex;
  align-items:center;
}