
.container_textContent{
    margin-left: 385px;
    margin-right: 385px;
}
h1,h2{
    margin: 0 0 0 0;
    padding: 0 0 0 0 ;
}
p{
    margin: 0 0 0 0;
    padding: 0 0 0 0 ;
}
main{
    background-image: url('../../resources/images/Main bg.jpg');
    background-size: cover;
    background-color: initial;
}
.container_text{
    margin-left: 385px;
    margin-right: 385px;
}
.main-title{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}
.img_coffee{
    margin: 0 auto 35px;
    position: relative;
    width: 30px;
}
.main-subtitle{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;

    color: #FFFFFF;
}
.main-btn{
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    
    width: 120px;
    height: 30px;   
    border:1px solid #ffff;
    cursor: pointer;
    background: none;
    border-radius: 5px;
    margin-bottom: 201px;
}
.main-btn:hover{
    width: 120px;
    height: 30px;   
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #000000;
    border:1px solid #ffff;
    cursor: pointer;
    background-color: white;
}


.about{
    padding: 89px 0;
}
.container-about{
    margin-left: 420px;
    margin-right: 420px;
}
.row{
    align-items:center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}
.container-title-about{
    margin-bottom: 45px;
}
.title-about{
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;

    color: #000000;
    align-items:center;
    justify-content: center;
   margin-left: 250px;
   margin-right: 250px;
}
.container-content-about{
    margin-left: 100px;
    margin-right: 100px;
}
.description-about{
    max-width: 589px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #000000;
    margin-bottom: 20px;

}



.recomended{
    background-image:url('../../resources/images/Recomended bg.jpg');
}
.title-recomended{
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;

    color: #000000;
}
.container-card-recomended{
    padding: 80px 0 110px;
}